body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777; 
    background-image: url(../images/brushed_alu_dark_@2X.png);  
}
/* start of header editing (all htmls) */
header {
    width: 100%;
    top: 0;
    position: fixed;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}

.name {
    margin-left: 285px;
    margin-bottom: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 3px;
    background-color: teal;
    color: white;
    width: 200px;
    height: 75px;
}

.headerAbout {
    margin-right: 280px;
}

.headerlink {
    float: right;
    margin-top: 25px;
    padding: 10px;
    color: grey;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerlink:hover {
    color: teal;
}
/* end of header editing */

/* start of editing info sections (all htmls) */
.infosize {
    width: 960px;
    height: 490px;
    margin: auto;
    margin-top: 150px;
    border: 2px solid black;
    background-color: #fff;
}

.h1body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
/* end of info sections edits */

/* footer editing starts here (all htmls) */
footer {
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    text-align: center;
}
/* footer edits end here */

/* index.html CSS editing */
.profilepic {
    width: 175px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.aboutpara {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 24px;
}
/* end of index.html */

/* portfolio editing starts here */
.container {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.project {
    width: 150px;
    height: 175px;
    margin: 50px 10px 10px 28px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    transition: all 1s;
    float: left;
}

.project:hover {
    transform: scale(1.1);
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) inset rgba(0,0,0,0.15) 0px -10px 20px;
}

h3 {
    background-color: teal;
    padding: 5px;
    margin-top: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project1 {
    background-image: url(../images/beer.jpg);
}

.project2 {
    background-image: url(../images/germanmeal.jpg);
}

.project3 {
    background-image: url(../images/lyric.jpg);
}

.project4 {
    background-image: url(../images/celtictree.jpg);
}

.project5 {
    background-image: url(../images/sheriff.jpg);
}
/* portfolio editing ends here */

/* contact editing starts here */
form {
    margin-left: 20px;
    margin-right: 20px;
}

.fullname {
    width: 100%;
    margin-bottom: 10px;
}

.email {
    width: 100%;
    margin-bottom: 10px;
}

.message {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.submit {
    background-color: teal;
    color: white;
    width: 90px;
    height: 30px;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}
/* end of contact editing */