body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #777; 
    background-image: url(../images/brushed_alu_dark_@2X.png);  
}
/* start of header editing */
header {
    width: 100%;
    top: 0;
    position: fixed;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}

.name {
    margin-left: 285px;
    margin-bottom: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 3px;
    background-color: teal;
    color: white;
    width: 200px;
    height: 75px;
}

.headerAbout {
    margin-right: 275px;
}

.headerlink {
    float: right;
    margin-top: 25px;
    padding: 5px;
    color: grey;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerlink:hover {
    color: teal;
}
/* end of header editing */

/* start of editing info sections */
.infosize {
    width: 960px;
    height: 490px;
    margin: auto;
    margin-top: 150px;
    border: 2px solid black;
    background-color: #fff;
}

.h1body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
/* end of info sections */

/* index.html CSS editing */
.profilepic {
    width: 175px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.aboutpara {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 24px;
}
/* end of index.html  */

/* footer editing starts here */
footer {
    background-color: #666;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    text-align: center;
}
/* footer edits end here */

/* portfolio editing starts here */
/* use class="project project1" in future to help shorten code" */
.container {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.project1 {
    width: 150px;
    height: 175px;
    margin: 50px 20px 10px 10px;
    background-image: url(../images/beer.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    text-align: center;
    color: white;
}

.project2 {
    width: 150px;
    height: 175px;
    margin: 50px 20px 10px 10px;
    background-image: url(../images/germanmeal.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    text-align: center;
    color: white;
}

.project3 {
    width: 150px;
    height: 175px;
    margin: 50px 20px 10px 10px;
    background-image: url(../images/lyric.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    text-align: center;
    color: white;
}

.project4 {
    width: 150px;
    height: 175px;
    margin: 50px 20px 10px 10px;
    background-image: url(../images/celtictree.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    text-align: center;
    color: white;
}

.project5 {
    width: 150px;
    height: 175px;
    margin: 50px 20px 10px 10px;
    background-image: url(../images/sheriff.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    text-align: center;
    color: white;
}
/* portfolio editing ends here */

/* contact editing starts here */
form {
    margin-left: 20px;
    margin-right: 20px;
}

.fullname {
    width: 100%;
    margin-bottom: 10px;
}

.email {
    width: 100%;
    margin-bottom: 10px;
}

.message {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.submit {
    background-color: teal;
    color: white;
    width: 90px;
    height: 30px;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}
/* end of contact editing */